[submodule "sst-basic-blocks"]
	path = sst-basic-blocks
	url = https://github.com/surge-synthesizer/sst-basic-blocks
[submodule "dr_libs"]
	path = dr_libs
	url = https://github.com/mackron/dr_libs
[submodule "sciplot"]
	path = sciplot
	url = https://github.com/sciplot/sciplot
[submodule "chowdsp_utils"]
	path = chowdsp_utils
	url = https://github.com/Chowdhury-DSP/chowdsp_utils
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "chowdsp_wdf"]
	path = chowdsp_wdf
	url = https://github.com/Chowdhury-DSP/chowdsp_wdf
